/node_modules
/node_modules/*
npm-debug.log
config.js
crashlogs.txt
/config/*

/data/pokedex.js
/data/formats-data.js
/data/moves.js
/data/abilities.js
/data/items.js
/data/trivia.json

/pd-tools/figures.js

.hg
.bzr
.svn
